
@{
    ViewData["Title"] = "Inicio del Juego";
}



<div class="contenedor-fondoo">
    <div class="texto-superpuestoo">
        <h5>
            Estás solo y confundido @ViewBag.nombreJugador, tuviste una caída bastante fuerte.
            Solo te quedan @ViewBag.vidas corazones de vida, será mejor que tengas cuidado.
            ¿Qué vas a hacer?
        </h5>

        <p><strong>Aidvina el acertijo:</strong> Sigo tus movimientos todo el dia, mientras el sol se muestre ahí arriba</p>

        <Form action = '@Url.Action("VerificarAcertijo", "Home")' method = "POST" enctype="multipart/form-data">
         <input type="hidden" name="salaActual" value="1" />
            <input type="text" name="respuesta" placeholder="Tu respuesta..." class="form-control" required />
            <br />
            <button type="submit" class="btn btn-success">Responder</button>
        </form>

        @if (ViewBag.MensajeError != null)
        {
            <p> style="color:red">@ViewBag.MensajeError</p>
        }
    </div>


    <h1>Vidas: @ViewBag.vidas</h1>
    <h2>@ViewBag.nombreJugador</h2>
</div>